
@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');
body {
 /* background: rgb(2,0,36);*/
/*background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,1) 4%, rgba(148,187,233,1) 96%);*/
background: url("sky2.jpg");
background-repeat: no-repeat;
font-family: 'Cairo', sans-serif;
}

h1 {
  text-align: center;
  opacity: 0.7;
  margin-left: 2%;
}

h3 {
  opacity: 0.5;
  text-align: left;
  margin-left: 5%;
  display: none;
}

h2 {
  opacity: 0.5;
  text-align: left;
  margin-left: 2%;
}

#container {
  margin-right: 1%;
}

.list-container {
  text-decoration: none;
  color: #000;
   

}

.item-container {
  border: 1px  solid #000;
  border-radius: 8px;
  width: 75%;
  padding: 0.3%;
  padding-left: 1%;
  margin-left: 3%;
  margin-right: 1%;
  margin-bottom: 4%;
  background-color: transparent;
  opacity: 0.8;
  box-shadow: 5px 3px 8px;
  /*position: relative;*/
  font-size: 18px;
  width: 92%;
}



.form {
  text-align: center;
  margin-top:2%;
  margin-bottom: 2%;
}

.text-field {
  margin-bottom: 1%;
  border-radius: 10px;
  border-width: 3px;
 
 /* width: 25%;
  margin-left: 5px;
  margin-right: 5px;*/
}


.radio-inputs {
  text-align: center;
  /*margin-left: 2%;*/
  opacity: 0.7;
}

.edit-btn {
  border: 1px solid #000;
  background-color: transparent;
  border-radius: 8px;
  right:0;
  bottom:1;
  position:absolute;
  margin-right: 0.8%;
}

.delete-btn {
  border: 1px solid #000;
  background-color: transparent;
  border-radius: 8px;
  position:absolute; 
  bottom:1;
  right: 0;
  margin-right: 9%;
}

input {
  /*box-shadow: 2px 1px 4px;*/
}

  .gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  /*z-index: 9999 !important;*/
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=20);
  display: none !important;
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=80);
}

nav ul li{
  display: inline-block;
  list-style-type: none;
  margin-left: 4%;
  text-decoration: none;
  font-weight: 550;
  font-size: 16px;
}

.nav-item {
  text-decoration: none;
  /*text-align: center;*/
  color: #000;

}

nav {
  /*text-align: right;*/
  margin-right: 1%;
  margin-bottom: 1%;
  /*box-shadow: 0px 1px 8px 0px;*/
  padding: 1px;
  /*border-radius: 8px;*/
}

.title-field {
  margin-top: 10%;
}

hr {
  /*border: 0.7px solid #000;*/
  opacity: 0.3;
  border-color: #000;
}

.submit-btn {
  text-decoration: none;
  color: #000;
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
  font-size: 22px;
}

#dream-profile {
  margin-left: 4%;
  margin-top: 6%;
  /*margin-right: 4%;*/
}

.edit-dream {
  text-decoration: none;
  color: #000;
  margin-left: 4%;
  margin-bottom: 5%;
  font-family: 'Cairo', sans-serif;
  font-weight: 800;
}

.delete-dream {
  text-decoration: none;
  color: #000;
  font-family: 'Cairo', sans-serif;
  font-weight: 800;
  margin-bottom: 5%;
}

#dream-body {
  margin-bottom: 5%;
  border: 1px solid #000;
  margin-right: 4%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 4px 4px 10px;
}

.dream-profile-data {
  font-size: 18px;
  margin-bottom: 2px;
}


.filter-btn {
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-decoration: overline;
}

#fade-menu {
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
  font-size: 14px;
  opacity: 0.85;
}

p {
  font-family: 'Cairo', sans-serif;
  font-size: 18px;
  margin-left: 2%;
  text-align: center;
  margin-right: 2%;
}

#svg-container {
  text-align: center;
  /*border: 2.6px solid #000;
  border-radius: 25%;
  margin-left: 41.5%;
  margin-right: 41.5%;
  padding: 1px 2.5px;*/
}

footer {
  text-align: center;
}

#nav-line {
  width: 100%;
  box-shadow: 2px 2px 5px;
}

#span1 {
margin-left: 8%;

}

h5 {
  text-align: center;
}

.vl {
  margin-left: 5%;
  border-right: 2px solid #000;
  
  margin-right: 4%;
}